* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background: linear-gradient(to right bottom, #6b8f98, #7cc2e8);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-wrapper {
  background: #e1ecef;
  min-height: 650px;
  min-width: 450px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 3px 6px 40px #000;
  margin-bottom: 10px;
}
.header {
  color: #588ba7;
  text-align: center;
  margin: 30px 0;
  font-size: 30px;
}
.button-add {
  width: 55px;
  height: 55px;
  padding: 15px 15px;
  margin-left: 25px;
  font-size: 22px;
  border-radius: 15px;
  border: 0;
  cursor: pointer;
  color: #588ba7;
  background: rgb(245, 243, 243);
  transition: all 0.3s ease;
}
.button-add:hover {
  background: #588ba7;
  color: rgb(245, 243, 243);
}

.task-input {
  position: relative;
  outline: none;
  width: 260px;
  padding: 15px;
  margin-left: 40px;
  font-size: 20px;
  color: #588ba7;
  background: rgb(242, 244, 245);
  border: 2px solid #588ba7;
  border-radius: 10px;
}
.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-btn {
  background: transparent;
  background-color: #588ba7;
  font-size: 1rem;
  text-transform: capitalize;
  margin: 2rem 0.5rem;
  letter-spacing: 1px;
  padding: 0.375rem 0.75rem;
  color: #e8eaf0;
  cursor: pointer;
  border-color: white;
}
.filter-btn:hover {
  border-color: #dadce0;
  color: white;
}

.task-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-list {
  min-width: 50%;
  list-style: none;
}

.task {
  margin: 0.5rem;
  background: rgb(242, 244, 245);
  font-size: 1.5rem;
  color: #588ba7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
  width: 100%;
}
.filter-task {
  padding: 1rem;
}
.task li {
  flex: 1;
}

.trash-btn,
.complete-btn,
.edit-btn {
  background: #d0842d;
  color: rgb(242, 244, 245);
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn {
  background-color: rgb(242, 244, 245);
  color: rgb(91, 131, 147);
  font-size: 20px;
}
.edit-btn {
  background: #3c8344;
}
.task-item {
  padding: 0rem 0.5rem;
  min-width: fit-content;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: #ff6f47;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  width: 12rem;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #ff6f47;
  cursor: pointer;
  pointer-events: none;
}
/* Transition */
/*
.select:hover::after {
  transform: scale(1.5);
}
*/
